h1 {
    color: red;
    background-color: #FFFFFF;
}

.body {
    padding-left: 390px;
    padding-right: 390px;
    background-color: #E5E5E5;
}

.info-reference a {
    margin-right: 24px; /* от 1140  */
}

span.breadcrumb {
    size: 14px;
    line-height: 19px;
    font-family: 'Manrope', sans-serif;
}