body {
    margin: 0px;
}

h1 {
    color: red;
    background-color: #FFFFFF;
}

.body {
    padding-left: 390px;
    background-color: #E5E5E5;
    height: 100%;
    width: 100%;
    position: fixed;
}

.info-reference a {
    margin-right: 24px; /* от 1140  */
}

span.breadcrumb {
    font-family: 'Manrope', sans-serif;

    size: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

div.breadcrumb {
    padding-top: 15px;
}

.header-body {
    font-family: 'Manrope', sans-serif;

    padding-top: 45px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}

.info-certificate {
    padding-top: 24px;
    width: 465px;

    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.step-info {
    padding-top: 27px
}

.step-info span {
    display: inline-block;
    width: 225px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #C8C8C8;
}

.step-info .select {
    color: #0DB14B;
}

.step-box img{
    left: -5px;
    position: relative;
}

.step-box .step-second{
    left: -28px;
}

.step-box .step-third{
    left: -51px;
}

.step-box .step-fourth{
    left: -74px;
}

.step-box .step-fifth{
    left: -97px;
}

.text-step {
    width: 753px;
    padding-top: 40px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #333333;
}

.divButtonStep {
    padding-top: 40px;
}

.divButtonStep input {
    background: #0DB14B;
    border-radius: 4px;
    width: 188px;
    height: 40px;
    border-color: #C8C8C8;

    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.divButtonStep input.white {
    width: 188px;
    height: 40px;

    background: #F8F8F8;
    border: 1px solid #0DB14B;
    box-sizing: border-box;
    color: #0DB14B;
}
