.header {
    padding-left: 390px;
}

.header div {
    display: inline-block;
    top: 50%;
    vertical-align: middle;
}

.header .logo {
    margin-right: 164px;
}

.header .call-info div {
    display: inline-block;
    width: 100%;
    top: 50%;
    vertical-align: middle;
}

.header .call-info {
    margin-left: 9px;
    width: 196px;
}

.header .call-order {
    color: #0DB14B;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
}

.header .info-reference {
    margin-bottom: 21px;
    margin-top: 21px;

    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    color: #333333;
}